#### Prachi Patel - 200520109
#### QUE : 21

In [1]:
import pandas as pd
import sqlite3

In [2]:
df = pd.DataFrame({'name':['Afghanistan','Albania','Algeria','Andorra','Angola'],
                   'continent':['Asia','Europe','Africa','Europe','Africa'],
                   'area':[652230,28748,2381741,468,1246700],
                   'population':[25500100,2831741,37100000,78115,20609294],
                   'gdp':[20343000,12960000,188681000,3712000,100990000]
                  })
df

          name continent     area  population        gdp
0  Afghanistan      Asia   652230    25500100   20343000
1      Albania    Europe    28748     2831741   12960000
2      Algeria    Africa  2381741    37100000  188681000
3      Andorra    Europe      468       78115    3712000
4       Angola    Africa  1246700    20609294  100990000

In [3]:
cnn = sqlite3.connect('midTerm.db')

In [5]:
df.to_sql('contryData',cnn)

5

In [6]:
%load_ext sql

In [7]:
%sql sqlite:///midTerm.db

In [9]:
%%sql
select name,population,area from contryData

 * sqlite:///midTerm.db

Done.

[('Afghanistan', 25500100, 652230),
 ('Albania', 2831741, 28748),
 ('Algeria', 37100000, 2381741),
 ('Andorra', 78115, 468),
 ('Angola', 20609294, 1246700)]